<div class="row tweet-form">
	<%= simple_form_for @tweet do |f| %>
		<div class="col-md-12">
			<p>
				<%= f.text_area :content, class:'form-control', cols: 40, rows: 2, placeholder: "Compose new Tweet..." %>
			</p>
			<p>
				<%= f.submit "Post", class: "btn btn-large btn-primary" %>
			</p>
		</div>
	<% end %>
</div>